extends ./layout

block content
  h1#title Real Time
  .poll-params
    form(name="pollParams", action="/", method="post")
      .poll-options
        input(#poll-option, type="text", name="poll[question]", placeholder="Question or Poll Title")
        br
        input(#poll-option, type="text", name="poll[options]", placeholder="Response Option")
        br
        input(#poll-option, type="text", name="poll[options]", placeholder="Response Option")
        br
        input(#poll-option, type="text", name="poll[options]", placeholder="Response Option")
      button#add-option.
        Add Additional Responses
      br
      br
      label
        input(type="checkbox", name="poll[visible]", value="true")
        | Check to make these results public
      br
      br
      input#create-poll(type="submit", value="Create Poll")