extends ./layout

block content
  h2 Real Time
  .poll-params
    form(name="pollParams", action="/", method="post")
      .poll-options
        input(#poll-option, type="text", name="poll[question]", placeholder="Question or Poll Title")
        br
        input(#poll-option, type="text", name="poll[options]", placeholder="Response Option")
        br
        input(#poll-option, type="text", name="poll[options]", placeholder="Response Option")
        br
        input(#poll-option, type="text", name="poll[options]", placeholder="Response Option")
        br
      button#add-option.
        Add Additional Answers
        br
      label
        input(type="checkbox", name="poll[visible]", value="true")
        | Do you want these results to be public?
      input#create-poll(type="submit", value="Create Poll")
  br
