doctype html
html
  link(rel="stylesheet", href="/style.css")
  body
    block content
    script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.0.0.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(type="text/javascript", src="/client.js")

