.option {
  width: 20em;
  height: 2em;
  background: #00BCD4;
  border-radius: 2px;
  line-height: 2em;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.option:hover {
  background: rgba(0, 188, 212, 0.5);
}

.container {
  text-align: center;
}